/* GENERALE */

	html{
		margin: 0;
	}

	body{
		margin: 0;
	}

	@font-face{
		font-family: Parade;
		src: url("Polices/parade.ttf");
	}

	@font-face{
		font-family: GeosansLight;
		src: url("Polices/GeosansLight.ttf");
	}

	/* HEADER */

	header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		height: 8vh;
		font-family: GeosansLight;
		background-color: #FFFFFF;
	}

	#logo{
		height: 50px;
		padding: 10px;
	}

	header nav{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	header ul{
		display: flex;
		flex-direction: row;
		justify-content: center;
		list-style-type: none;
	}

	header li{
		padding: 0 20px;
	}

	header li a{
		font-size: 22px;
		color: #000000;
		text-decoration: none;
	}
	
	header li a:hover{
		color: #e78200;
		border-bottom: solid 2px #e78200;
	}


/* FOOTER */

	footer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 20px;
		background-color: grey;
		font-family: GeosansLight;
	}

	#logo_complet{
		height: 50px;
		padding: 10px;
	}

	footer nav{
		display: flex;
		flex-direction: row;
		align-items: center;
	}


	footer ul{
		display: flex;
		flex-direction: row;
		justify-content: center;
		list-style-type: none;
	}

	footer li{
		padding: 0 20px;
	}

	footer li a{
		font-size: 15px;
		color: #000000;
		text-decoration: none;
	}
	
	footer li a:hover{
		color: #e78200;
		border-bottom: solid 2px #e78200;
	}

	

/* EQUIPE */

	.titre_equipe{
		display:flex;
		flex-direction:row;
		justify-content:center;
		font-size:2.5em;
	}

	.equipe_gauche{
		display:flex;
		flex-direction:row;
		align-items:center;
		margin-right:auto;
		width:80%;
	}

		.equipe_droite{
		display:flex;
		flex-direction:row;
		align-items:center;
		width:80%;
		margin-left:auto;
	}

	.equipe_droite img{
		max-width:290px;
		margin:30px;
	}

	.equipe_gauche img{
		max-width:290px;
		margin:30px;
	}
	.text_equipier{
		display:flex;
		flex-direction:column;
		text-justify: auto;
		flex-grow:1;
	}

	.nom_equipier{
		font-weight:bold;
		font-size:1.8em;
		color:darkorange;
	}

/* REALISATIONS */

	.realisations{
		display:flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content:space-evenly;
		align-items:center;
	}

	.realisations img {
		display:flex;
		flex-direction:row;
		flex-wrap: wrap;
		min-height:0;
		min-width:0;
		max-height:450px;
		max-width:610px;
		margin:20px;
		filter: grayscale(80%);
		transition: transform .2s;
	}

	#realisation1{

	}

	#realisation2{
		flex-grow:3;
	}

	#realisation3{
		flex-grow:2;
	}

	#realisation4{
		flex-grow:3;
	}

	#realisation5{
		flex-grow:3;
	}


	.realisations img:hover {
		transform: scale(1.1); 
		filter:none;
	}

